body{
	margin: 0px;
	background-color: #e7e7e7;
	background-image: url("../imgs/asanoha-400px.png");
	font-family: 'Actor', sans-serif;
	font-size: 16px;
}

.hide{
	display: none;
}

#print{
	display: none;
}

#navbar *{
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

#navbar{
	position: fixed;
	display: inline-block;
	top: 0px;
	left: 0px;
	z-index: 1010;
	background-color: #3498db;
	width: 220px;
	height: 100%;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color: #e7e7e7;
	border-right: 1px solid #333333;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	overflow: hidden;
	transition: width 0.15s ease-in-out;
}

#navbar a{
	color: #ffffff;
	text-decoration: none;
}

#navbar span{
	vertical-align: middle;
	line-height: 20px;
	height: 20px;
	font-size: 15px;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

#navbar #logo{
	cursor: pointer;
	display: inline-block;
	top: 0px;
	width: 50px;
	height: 50px;
	margin: 0px;
	margin-left: 5px;
	background-image: url("../img/pro.jpg");
	background-repeat: no-repeat;
}

#navbar #logo-link{
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	line-height: 50px;
	margin: 0px;
	margin-left: 5px;
	letter-spacing: 1px;
	text-decoration: underline;
}

#navbar #user{
	width: 200px;
	height: 50px;
	padding: 10px;
	background-color: rgba(250,250,250,0.25);
	font-size: 0px;
	cursor: pointer;
}

#navbar #pic{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image: url("../img/denr.png");
	background-color: #ffffff;
	vertical-align: middle;
}

#navbar .user-detail{
	font-size: 16px;
	display: inline-block;
	margin-left: 10px;
	width: 140px;
	height: 50px;
	vertical-align: middle;
	overflow: hidden;
}

#navbar .user-detail h3{
	margin: 0px;
	text-decoration: none;
	font-weight: normal;
	font-size: 18px;
}

#navbar .user-detail i, #navbar .user-detail span{
	margin: 0px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
}

#navbar #user:hover .user-detail i, #navbar #user:hover .user-detail span{
	color: #ff6600;
}

#navbar .option{
	width: 194px;
	padding: 13px;
	cursor: pointer;
}

#navbar .option i, #navbar .option span{
	margin: 0px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 20px;
}

#navbar .option:hover{
	color: #ff6600;
	background-color: rgba(250,250,250,0.25);
}

#navbar #nav-fabar{
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	width: 25px;
	height: 50px;
}

#navbar #nav-fabar i{
	margin: 0px auto;
	vertical-align: middle;
	line-height: 50px;
	cursor: pointer;
}

#navbar #nav-fabar i:hover{
	color: #ff6600;
}

#content{
	position: relative;
	display: inline-block;
	top: 0px;
	left: 220px;
	padding-bottom: 25px;
	transition: left 0.15s ease-in-out;
}

@media screen and (max-width: 500px){
	#navbar{
		width: 100px;
	}

	#content{
		left: 100px;
	}

	#navbar .option i{
		margin-left: 28px;
		font-size: 20px;
	}
	
	#navbar .option span{
		font-size: 0px;
	}

	#navbar #pic{
		margin-left: -50px;
	}

	#navbar #user:hover #pic{
		margin-left: 0px;
	}
	
	#navbar #logo-link{
		font-size: 0px;
	}
}

.group{
	display: inline-block;
	vertical-align: text-top;
	background-color: #ffffff;
	border: 1px solid #999999;
	border-radius: 3px;
	overflow: hidden;
	margin: 25px;
	margin-right: -5px;
	margin-bottom: 0px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.3)
}

.group h1{
	margin: 0px;
	padding: 10px;
	width: calc(100% - 20px);
	font-size: 20px;
	text-transform: uppercase;
	color: #ff6600;
	background-color: #3498db;
}

#products{
	max-width: 635px;
}

#categories{
	padding: 10px;
	padding-bottom: 0px;
}

#products .option{
	display: inline-block;
	width: 100px;
	height: 30px;
	margin-right: 6px;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	border: 0px solid #3498db;
	background-color: #3498db;
}

#products .option:hover{
	color: #ff6600;
	background-color: #3e3e3e;
}

#products .category{
	padding: 10px;
	padding-right: 4px;
	padding-bottom: 0px;
}

#products .show-prod{
	display: inline-block;
	vertical-align: text-top;
	width: calc(300px - 20px);
	padding: 10px;
	border: 1px solid #3e3e3e;
	border-radius: 3px;
	background-color: rgba(225,102,0,0.25);
	margin-right: 6px;
	margin-bottom: 10px;
}

#products .show-prod img{
	width: 280px;
	border-radius: 3px;
	background-color: #ffffff
}

#products .show-prod h2{
	font-size: 16px;
	margin: 10px 0px;
	color: #ff6600;
	letter-spacing: 1px;
	text-shadow:
			-1px -1px 0 #000000,
			1px -1px 0 #000000,
			-1px 1px 0 #000000,
			1px 1px 0 #000000;
}

#products .show-prod .stock{
	color: #90949c;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: 0px;
	text-shadow: none;
}

#products .show-prod h3{
	font-size: 14px;
	margin: 10px 0px;
}

#products .show-prod p{
	font-size: 12px;
	margin: 10px 0px;
	max-height: 300px;
	overflow: auto;
}

#add-prod, #edit-prod, #remove-prod, #edit-build, #add-build, #edit-category{
	width: 300px;
}

#add-prod .container, #edit-prod .container, #remove-prod .container, #edit-build .container, #add-build .container, #edit-category .container{
	padding: 15px 0px;
	text-align: center;
}

.group input, .group textarea, .group select{
	width: 248px;
	background-color: #ffffff;
	border: 1px solid #e7e7e7;
	border-radius: 3px;
	box-shadow: none;
	padding: 5px 10px;
	outline: 0;
	color: #000000;
	font-size: 14px;
	font-family: 'Actor', sans-serif;
	transition: border-color 0.15s ease-in-out 0s;
	margin-bottom: 15px;
}

.group select{
	width: 270px;
}

.group textarea{
	max-width: 248px;
	min-width: 248px;
}

.group input:focus, .group textarea:focus, .group select:focus{
	border-color: #ff6600;
}

#add-prod .add-btn, #edit-prod .add-btn, #remove-prod .add-btn, #edit-build .add-btn, #add-build .add-btn, #edit-category .add-btn{
	
	text-align: right;
	margin-right: 15px;
}

#products .add-btn{
	width: 100%;
	text-align: right;
}

#products .add-btn input{
	width: 30px;
}

.group button{
	min-width: 100px;
	height: 30px;
	background-color: #ff6600;
	border: 1px solid #e7e7e7;
	border-radius: 3px;
	box-shadow: none;
	font-size: 14px;
	color: #e7e7e7;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	cursor: pointer;
	transition: all 0.15s ease-in-out 0s;
	outline: 0px;
}

.group button:hover{
	background-color: #3498db;
	color: #ff6600;
	border: 0px solid #ff6600;
}

.group table{
	width: 100%;
	font-size: 14px;
	border-collapse: collapse;
	border-radius: 3px;
	overflow: hidden;
	background-color: rgba(225,102,0,0.25);
}

.group table td{
	padding: 3px;
}

.group table thead{
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-color: #ff6600;
}

.group table tr:nth-child(even){
	background-color: rgba(225,102,0,0.25);
}

#reservations{
	width: 650px;
	min-height: 344px;
}

#reservations .container{
	padding: 15px;
}

#reservations table td{
	padding: 10px;
}

#reservations table td:first-child{
	width: 40%;
}

#reservations table td:nth-child(2), #reservations table td:nth-child(3){
	width:30%;
}

.cart-content{
	padding: 0px 15px;
	text-align: left;
}

.cart-content td:first-child{
	width: 50%;
	text-align: left;
}

.cart-content td:nth-child(2){
	width: 20%;
	text-align: right;
}

.cart-content td:nth-child(3){
	width: 30%;
	text-align: right;
}

#add-prod .cart-content .add-btn, #cart-checkout .add-btn{
	margin: 0px;
	margin-top: 15px;
}

.cart-content .add-btn{
	text-align: right;
}

.cart-content .add-btn span{
	float: left;
	color: #3498db;
	font-size: 10px;
	line-height: 30px;
	text-transform: uppercase;
	cursor: pointer;
}

.cart-content .add-btn span:hover{
	text-decoration: underline;
}

table.cart{
	font-size: 12px;
}

table.cart thead{
	font-size: 14px;
}

table.cart i{
	cursor: pointer;
	color: #3498db;
}

table.cart-ttl{
	background-color: #3498db;
	font-weight: bold;
}

#cart-checkout{
	width: 600px;
}

#cart-checkout .container{
	padding: 5px 0px 15px 0px;
	text-align: center;
}

#cart-checkout .inp{
	width: 100%;
	text-align: left;
}

#cart-checkout .inp input{
	border: 0px solid #3498db;
}

.group h2{
	margin: 10px 0px;
	text-align: left;
	font-size: 16px;
}

.group h3{
	margin: 10px 0px;
	text-align: left;
	font-size: 14px;
}

table.cart-userinfo{
	font-size: 12px;
}

table.cart-userinfo tr:nth-child(even) td{
	font-weight: bold;
	padding-left: 10px;
}

#cart-ty{
	width: 600px;
}

#cart-ty .container{
	padding: 15px;
	text-align: center;
}

hr{
	border: 0px;
	border-bottom: 3px solid #ff6600;
}

#calendar table thead{
	font-weight: normal;
}

#calendar input[type="checkbox"]{
	display: none;
}

#calendar input[type="checkbox"] + label{
	display: block;
	width: 28px;
	height: 28px;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid #90949c;
}

#calendar input[type="checkbox"]:checked + label{
	background-color: #6dc894;
}

#calendar input[type="checkbox"]:disabled + label{
	background-color: #c0392b;
}

#calendar input.na[type="checkbox"]:disabled + label{
	background-color: #90949c;
}

#calendar input[type="checkbox"]:checked.selected-time + label{
	background-color: #27ae60;
}

#reserve .container{
	padding: 0px 10px;
}

#reserve input[type="date"], #reserve input[type="text"]{
	margin: 0px;
	width: 150px;
}

#reserve .add-btn, #reserve-list .add-btn{
	margin: 10px 0px;
	text-align: right;
}

#reserve .tbl-time{
	width: 350px;
}

#reserve-list{
	width: 650px;
	min-height: 344px;
}

#reserve-list .container{
	padding: 0px 15px;
}

#reserve-list table{
	margin-top: 15px;
}

#reserve-list table td{
	padding: 10px;
}

#reserve-list .add-btn, #reservation .add-btn{
	margin: 15px 0px;
}

.payCB[type="radio"]{
	display: inline-block;
	width: 15px;
	height: 15px;
	line-height: 15px;
	margin: 0px;
	margin-right: 5px;
	vertical-align: middle;
}

.payCB + label{
	font-size: 14px;
	margin-right: 5px;	
}

.trans, #users{
	width: 650px;
	min-height: 344px;
}

.trans .trans-content{
	padding: 15px;
}

.trans .trans-content td, #users td{
	padding: 10px;
}

.trans .trans-content .trans-tbl-main tr:hover, #reserve-list table tr:hover, #reservations table tr:hover{
	background-color: #ff6600;
	cursor: pointer;
}

.trans .trans-content h2{
	margin-top: 0px;
}

.trans .trans-closebtn, .printBtn{
	float: right;
	cursor: pointer;
}

.trans .add-btn{
	margin-top: 15px;
	text-align: right;
}

#account .acc-content, #users .users-content{
	padding: 15px;
}

#account .acc-content h2{
	margin-top: 0px;
}

#account input{
	margin-top: 5px;
}

#account .add-btn{
	text-align: right;
}

#users td i, #edit-category .cat i{
	color: #3498db;
	margin-right: 5px;
	cursor: pointer;
}

button:disabled, button:disabled:hover{
	background-color: #3498db;
}

#build{
	width: 730px;
}

#build .add-btn{
	margin: 15px;
	margin-top: 0px;
	text-align: right;
}

#build .note{
	font-size: 12px;
	margin: 0px;
	margin-left: 15px;
}

#build .note input{
	width: 45px;
	padding: 0px;
}

#template, #cnvsImg, #destCanvas{
	padding: 0px 7px;
	padding-top: 10px;
	background-color: #f9f9f9;
	width: 684px;
	margin: 15px;
	margin-bottom: 0px;
	border: 1px solid #000000;
	border-radius: 3px;
}

.custom-group{
	display: inline-block;
	vertical-align: text-top;
	margin: 15px;
}

.custom-group h2{
	margin: 0px;
}

.custom-group ul{
	padding-left: 0px;
	margin: 10px 0px;
	margin-bottom: 0px;
}

.custom-group li{
	list-style: none;
	margin-top: 10px;
	font-size: 14px;
	line-height: 15px;
}

.custom-group li *{
	vertical-align: middle;
}

.custom-group li .preview{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid #90949c;
	border-radius: 3px;
	background-position: 20% 50%;
}

.custom-group li i{
	color: #ff6600;
	cursor: pointer;
}

.custom-group li input:checked + label .preview{
	border: 1px solid #ff6600;
}

.custom-group label{
	cursor: pointer;
}

.custom-group input{
	display: none;
}

#edit-category span{
	display: block;
}

#edit-category #add input{
	border-color: transparent;
}

#edit-category input{
	width: 224px;
}

.legend{
	font-size: 10px;
	padding: 10px 0px;
	padding-bottom: 2px;
}

.legend span{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0px 5px;
}

.red{
	background-color: #c0392b;
}

.grey{
	background-color: #90949c;
}