body *{
	display: block;
}

body{
	margin: 0px;
	background-color: #e7e7e7;
	background-image: url("../imgs/asanoha-400px.png");
	color: #ffffff;
	font-family: 'Actor', sans-serif;
	font-size: 14px;
}

.container{
	position: relative;
	width: 300px;
	margin: 0px auto;
	margin-top: 100px;
	border-radius: 5px;
	overflow: hidden;
	background-color: #3498db;
	box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.head{
	height: 50px;
	background-color: #3498db;
}

#logo{
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	top: 0px;
	width: 50px;
	height: 50px;
	margin: 0px;
	margin-left: 5px;
	background-image: url("../img/pro.jpg");
}

#logo-link{
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	line-height: 50px;
	margin: 0px;
	margin-left: 5px;
	letter-spacing: 1px;
	text-decoration: underline;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 16px;
}

.form{
	padding: 15px;
}

.form h2{
	text-transform: uppercase;
	font-size: 16px;
	margin: 5px 0px 15px 0px;
}

.form input{
	width: 248px;
	background-color: #ffffff;
	border: 1px solid #e7e7e7;
	border-radius: 3px;
	box-shadow: none;
	padding: 5px 10px;
	outline: 0;
	color: #3498db;
	font-size: 14px;
	font-family: 'Actor', sans-serif;
	transition: border-color 0.15s ease-in-out 0s;
	margin-bottom: 15px;
}

.form input:focus{
	border-color: #3498db;
}

.form button{
	width: 100%;
	height: 30px;
	background-color: #3498db;
	border: 0px solid #e7e7e7;
	border-radius: 3px;
	box-shadow: none;
	font-size: 14px;
	color: #e7e7e7;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	cursor: pointer;
	transition: all 0.15s ease-in-out 0s;
}

.form button:hover{
	background-color: #3498db;
	color: #ff6600;
	border: 0px solid #ff6600;
}

.form input[type="checkbox"]{
	display: inline;
	margin: 0px;
	width: 15px;
	vertical-align: middle;
}

.foot{
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.link{
	font-size: 12px;
	color: #3498db;
	text-decoration: none;
}

.link:hover{
	text-decoration: underline;
}

.tc{
	margin-bottom: 15px;
}

.tc a{
	display: inline;
	font-size: 14px;
}