@media print{
	.wrapper{
		display: none
	}
	#print{
		display: inline;
	}
	body{
		background: none;
		font-family: 'Courier', sans-serif;
		font-size: 12px;
	}
	hr{
		border-bottom: 5px solid #000000;
	}
	table{
		width: 100%;
	}
	thead{
		text-align: center;
		font-weight: bold;
		background-color: #90949c;
	}
	h1{
		font-size: 14px;
	}
	.Report td{
		padding: 5px;
	}
	.align-left{
		text-align: left;
	}
	.align-center{
		text-align: center;
	}
	.OR{
		display: block;
		width: 300px;
		text-align: center;
	}
	.OR table td:nth-child(2), #print-or-t td:nth-child(3){
		text-align: right;
	}
	#print-or-t thead, #print-or-t td:nth-child(2){
		display: none;
	}
}