body *:not(table,thead,tbody,tr,td){
	display: block;
}

body{
	margin: 0px;
	background-color: #e7e7e7;
	background-image: url("../imgs/asanoha-400px.png");
	color: #e7e7e7;
	font-family: 'Actor', sans-serif;
	font-size: 16px;
}

a:link, a:visited, a:hover, a:active{
	text-decoration: none;
	color: #e7e7e7;
}

.wrapper{
	position: absolute;
	height: 100%;
	width: 100%;
}

.container{
	margin: 0px auto;
	padding: 0px;
	text-align: center;
}

@media screen and (min-width: 768px){
	.container{
		width: 750px;
	}
}

@media screen and (min-width: 992px){
	.container{
		width: 970px;
	}
}

@media screen and (min-width: 1200px){
	.container{
		width: 1170px;
	}
}

.button{
	width: 250px;
	height: 50px;
	background-color: #ff6600;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 50px;
	vertical-align: middle;
	margin: 15px auto;
}

.button:hover{
	background-color: #000000;
	color: #ff6600;
}

#navbar, #navbar *, #home *, .button{
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#navbar{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1010;
	background-color: #000000;
	width: 100%;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	border-bottom: 1px solid #333333;
}

#navbar ul{
	list-style: none;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	position: relative;
	text-align: center;
}

#navbar li{
	list-style: none;
	display: inline-block;
	padding: 15px 30px;
}

#navbar a{
	color: #ffffff;
}

#navbar span{
	vertical-align: middle;
	line-height: 20px;
	height: 20px;
	font-size: 15px;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

#navbar span:hover{
	color: #ff6600;
}

#navbar #logo-container{
	float: left;
}

#navbar #logo{
	cursor: pointer;
	display: inline-block;
	top: 0px;
	width: 50px;
	height: 50px;
	margin: 0px;
	margin-left: 100px;
	background-image: url("../imgs/kv_logo2.png");
}

#navbar #logo-link{
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	line-height: 50px;
	margin: 0px;
	margin-left: 15px;
	letter-spacing: 1px;
	text-decoration: underline;
}

#navbar #nav-fabar{
	display: none;
}

@media screen and (max-width: 767px){
	#navbar #logo{
		margin-left: 15px;
	}
	#navbar li{
		padding: 15px;
	}
}

@media screen and (max-width: 991px){
	#navbar li{
		padding: 15px 20px;
	}
	#navbar #logo{
		margin-left: 15px;
	}
}

@media screen and (max-width: 699px){
	#navbar{
		height: 50px;
		overflow: hidden;
	}
	#navbar.navbar-toggle{
		height: 350px;
	}
	#navbar ul{
		width: 100%;
		margin: 0px auto;
	}
	#navbar li{
		display: block;
	}
	#navbar li:hover{
		background-color: rgba(255,102,0,0.25);
	}
	#navbar #logo-container{
		float: none;
		text-align: left;
	}
	#navbar #nav-fabar{
		position: absolute;
		top: 0px;
		right: 0px;
		display: block;
		width: 50px;
		height: 50px;
	}
	#navbar #nav-fabar i{
		margin: 0px auto;
		vertical-align: middle;
		line-height: 50px;
		cursor: pointer;
	}
	#navbar #nav-fabar i:hover{
		color: #ff6600;
		margin: 0px auto;
		vertical-align: middle;
		line-height: 50px;
		cursor: pointer;
	}
}

#home{
	position: relative;
	top: 0px;
	width: 100%;
	height: 600px;
	padding-top: 50px;
	background-image: url("../imgs/bg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0%;
	background-attachment: fixed;
	overflow: hidden;
}

#home h1{
	font-family: 'Stalemate', cursive;
	font-size: 200px;
	line-height: 200px;
	font-weight: bold;
	letter-spacing: 5px;
	margin-top: 125px;
}

#home p{
	font-family: 'Actor', sans-serif;
	font-size: 30px;
	line-height: 30px;
	width: 500px;
	letter-spacing: 7px;
	margin: 0px auto;
	margin-top: -150px;
}

#home .down{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

#home .down i{
	font-size: 50px;
	margin: 10px auto;
}

@media screen and (max-width: 600px){
	#home{
		height: 350px;
	}
	#home h1{
		font-size: 100px;
		line-height: 100px;
		font-weight: bold;
		letter-spacing: 1px;
		margin-top: 100px;
	}
	#home p{
		font-size: 20px;
		line-height: 20px;
		width: 100%;
		letter-spacing: 1px;
		margin-top: -75px;
	}
}

.sec1{
	padding: 50px 0px;
	color: #000000;
}

h2{
	margin-top: 0px auto;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 36px;
	letter-spacing: 3px;
	font-family: 'Oswald', sans-serif;
}

.sec1 p{
	background-color: rgba(250,102,0,0.25);
	padding: 15px;
}

.sec1 .par{
	background-color: rgba(255,255,255,0.5);
	padding: 15px;
}

.sec1 .par + .par{
	margin-top: 15px;
}

.sec1 .par .category{
	font-size: 30px;
}

.product{
	display: inline-block;
	margin: 15px;
	max-width: 280px;
	min-width: 280px;
	padding: 20px;
	background-color: rgba(250,102,0,0.25);
	vertical-align: text-top;
}

.product img{
	background-color: #ffffff;
	padding: 9px;
	border: 1px solid #000000;
	max-width: calc(100% - 20px);
	max-height: 260px;
	margin: 0px auto;
}

.product h2{
	margin: 10px;
	font-size: 20px;
	letter-spacing: 1px;
}

.product h3{
	margin: 10px;
	font-size: 16px;
}

@media screen and (max-width: 450px){
	.product{
		max-width: 280px;
		min-width: 250px;
		margin: 15px 0px;
		padding: 20px 0px;
	}
}

.guitar, .studio, .about-logo, .items{
	border: 1px solid #333333;
	margin: 0px auto;
}

.guitar, .studio, .items{
	width: 700px;
}

.about-logo{
	max-width: 278px;
}

.sec2{
	padding: 50px 0px;
	color: #ffffff;
	background-color: rgba(51,51,51,0.65);
}

.sec2 .par{
	background-color: rgba(0,0,0,0.25);
	padding: 15px;
	margin: 16px auto;
}

.sec2 p{
	padding: 15px;
}

.sec2 .button{
	background-color: #000000;
	color: #ff6600;
}

.sec2 .button:hover{
	background-color: #ff6600;
	color: #ffffff;
}

.sec2 p.side{
	display: inline-block;
	text-align: left;
	vertical-align: text-top;
}

.sec2 img.img-fb{
	display: inline-block;
	margin: 15px;
	width: 250px;
	height: 250px;
	object-fit: cover;
}

@media screen and (max-width: 767px){
	.guitar, .studio, .items{
		width: 95%;
	}
}

@media screen and (max-width: 399px){
	.sec2 img.img-fb{
		margin: 15px 0px;
	}
}

#foot{
	position: relative;
	width: 100%;
	background-color: #000000;
}

#foot .container{
	color: #90949c;
	font-size: 12px;
	line-height: 16px;
	vertical-align: middle;
	text-align: left;
	padding: 10px;
}

#foot img, #foot em, #foot div{
	vertical-align: middle;
	display: inline-block;
	margin: 5px;
}

hr{
	border: 0px;
	border-bottom: 3px solid #000000;
}

#calendar{
	max-width: 670px;
	text-align: left;
}

@media screen and (max-width: 500px){
	#calendar.par{
		padding: 15px 0px;
	}
}

#calendar .time-table{
	overflow: auto;
}

#calendar table thead{
	font-weight: normal;
}

#calendar input[type="checkbox"]{
	display: none;
}

#calendar input[type="checkbox"] + label{
	display: block;
	width: 28px;
	height: 28px;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid #90949c;
}

#calendar input[type="checkbox"]:checked + label{
	background-color: #6dc894;
}

#calendar input[type="checkbox"]:disabled + label{
	background-color: #c0392b;
}

#calendar input.na[type="checkbox"]:disabled + label{
	background-color: #90949c;
}

#calendar input[type="checkbox"]:checked.selected-time + label{
	background-color: #27ae60;
}

#calendar input[type="date"], #calendar input[type="text"]{
	margin: 0px;
	width: 150px;
}

#calendar .tbl-time{
	max-width: 350px;
	text-align: center;
}


#calendar input{
	width: 248px;
	background-color: #ffffff;
	border: 1px solid #e7e7e7;
	border-radius: 3px;
	box-shadow: none;
	padding: 5px 10px;
	outline: 0;
	color: #000000;
	font-size: 14px;
	font-family: 'Actor', sans-serif;
	transition: border-color 0.15s ease-in-out 0s;
	margin-bottom: 15px;
}

#calendar input:focus{
	border-color: #ff6600;
}

#calendar table{
	width: 100%;
	font-size: 14px;
	border-collapse: collapse;
	border-radius: 3px;
	overflow: hidden;
	background-color: rgba(0,0,0,0.25);
}

#calendar table td{
	padding: 3px;
}

#calendar table thead{
	font-weight: bold;
	text-align: center;
	color: #ff6600;
	background-color: #000000;
}

#calendar h2{
	margin: 10px 0px;
	margin-top: 0px;
	text-align: left;
	font-size: 16px;
}

#calendar h2 ~ h2{
	margin-top: 10px;
}

#calendar .button{
	text-align: center;
	margin: 0px auto;
	margin-top: 15px;
	width: 150px;
	height: 50px;
}

.legend{
	font-size: 10px;
	padding: 10px 0px;
	padding-bottom: 2px;
}

.legend span{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0px 5px;
}

.red{
	background-color: #c0392b;
}

.grey{
	background-color: #90949c;
}